@import url("https://use.typekit.net/isv3aav.css");

* {
    box-sizing: border-box;
}

.bricks--section > div {
    max-width:none;
   }
   

section{
    width: 100vw;
}

a {
    color: #00CFB4;
    text-decoration: none;
}

h1 {
    font-family: quincy-cf;
    font-weight: 600;
    font-size: 35px;
}

h2 {
    font-family: quincy-cf;
    font-weight: 400;
    font-size: 25px;
}

p {
    font-family: proxima-nova;
    font-weight: 400;
    font-size: 20px;
}

button {
    background-color: black;
    font-family: proxima-nova;
    color: white;
    padding: 10px 20px;
    width: 300px;
    height: 80px;
    font-size: 25px;
    border: none;
    transition: transform 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

button:hover {
    border: 2px solid black;
    background-color: white;
    color: black;
    transform: translateY(-5px);
}

button:active {
    transform: translateY(-2px);
    background-color: #00CFB4;
}

body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
}


/*Media Queries*/


/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {

    div button {
        padding: 5px 20px;
        width: 220px;
        height: 60px;
        font-size: 20px;
    }

    h1 {
        font-family: quincy-cf;
        font-weight: 600;
        font-size: 25px;
    }

    p {
        font-family: proxima-nova;
        font-weight: 400;
        font-size: 18px;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.left-header {
        width: 100%;
        padding: 5%;
        align-items: center;
        text-align: center;
    }

    span.title-header {
        padding: 30px 0 0 0;
        font-size: 35px;
    }

    span.subtitle-header {
        font-family: proxima-nova;
        font-size: 1.1em;
        padding-bottom: 10px;
        width: 100%;
    }

    div.right-header {
        padding-top: 70px;
        height: 50vh;
        width: 100%;
    }

    img.img-header {
        width: 100%;
    }

    img.logo-header {
        width: 175px;
        padding-top: 5%;
    }

    h1.title-section {
        text-align: center;
        padding: 100px 5% 50px 5%;
    }

    container.box-cities {
        display: block;
        padding-bottom: 0;
    }

    div.box-city {
        width: 100%;
        height: 200px;
        display: block;
    }

    div.box-carrossel {
        width: 100%;
        padding-bottom: 200px;
    }

    div.carrossel-item {
        padding: 0 70px 0 70px;
        top: -30px;
        left: 0;
    }

    .dot-container {
        padding: 20px;
    }

    section.vantagens-charlie-section>h1.title-section {
        text-align: center;
        padding: 0px 0 50px 0;
    }

    section.boa-experiencia-section {
        flex-direction: column-reverse;
    }

    img#img-boa-experiencia.photo {
        width: 120%;
        height: auto;
        position: absolute;
        bottom: 0;
    }

    container.text-boa-experiencia {
        padding: 0 40px 350px 40px;
        width: 100%;
    }

    container.box-beneficios {
        flex-direction: column;
        padding: 0 0 200px 0;

    }

    section.cliente-charlie-section {
        padding-bottom: 100px;
    }

    div.item-beneficios {
        gap: 20px;
        height: 350px;
    }

    div.box-item {
        top: 0;
    }

    div.item-beneficios>h2 {
        top: 50%;
        width: 90%;
    }

    div.item-beneficios>p {
        top: 65%;
        width: 90%;
    }

    section.cta-formulario-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section.cta-formulario-section>.title-section {
        padding: 80px 5% 20px 5%;
    }

    section.cta-formulario-section>.title-section>br {
        display: none;
    }

    section.cta-formulario-section>.button-div {
        width: 0%;
        padding: 0 0 80px 0;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    button.btn-formulario {
        padding: 5px 20px !important; 
        width: 250px !important;
        height: 60px !important;
        font-size: 20px !important;
    }

    div.container{
        padding: 40px 0 0 0;
    }

    div.accordion button{
        width: 100%;
    }

    div.accordion button#accordion-button-1 .accordion-title {
        position: absolute;
        top: -20px;
        width: 80%;
        padding: 0 0 0 0;
        margin-bottom: 20px;
    }

    div.accordion button#accordion-button-2 .accordion-title {
        position: absolute;
        top: 0;
        width: 85%;
        padding: 20px 0 0 0 
    }
    
    div.accordion button#accordion-button-3 .accordion-title {
        position: absolute;
        top: 5px;
        width: 85%;
        padding: 0 0 0 0 
    }
    
    div.accordion button#accordion-button-4 .accordion-title {
        position: absolute;
        top: 0;
        width: 90%;
        padding: 0 0 0 0 
    }
    
    div.accordion button#accordion-button-5 .accordion-title {
        position: absolute;
        top: 0;
        width: 85%;
        padding: 0 0 0 0 
    }

    div.accordion .accordion-content p {
        font-weight: 400;
        margin: 1em 0;
    }
    
    div.accordion button[aria-expanded='true']+.accordion-content {
        opacity: 1;
        max-height: 12em;
    }
}



.title-section {
    padding: 130px 0 120px 0;
}


/* Header */


.logo-header {
    width: 175px;
}

.title-header {
    padding: 50px 0 0 0;
    font-family: quincy-cf;
    font-size: 50px;
    font-weight: 600;
}

.subtitle-header {
    font-family: proxima-nova;
    font-size: 1.5em;
    padding-bottom: 30px;
    width: 70%;
}

.left-header {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 50px;
    gap: 50px;
}

.right-header {
    display: flex;
    width: 50%;
    height: 80vh;
}

.img-header {
    width: 100vw;
    background-image: url('https://contentstatic.blob.core.windows.net/prd/mkt_lp_charlie_invest/foto-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Cities Section */

.cities-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-cities {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0;
    width: 95%;
    padding-bottom: 25px;
}

.box-city {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 0px;
    position: relative;
    transition: flex 500ms cubic-bezier(.39, .08, .65, .95);
}

.box-city.active {
    flex: 1.5;

}

#sao-paulo.photo {
    background: linear-gradient(to top, #0c0c0cba, #2b2a2acc), url('https://images.unsplash.com/photo-1629984558586-3f27a5266a47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box-city.active #sao-paulo.photo {
    background: none, url('https://images.unsplash.com/photo-1629984558586-3f27a5266a47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#porto-alegre.photo {
    background: linear-gradient(to top, #0c0c0cba, #2b2a2acc), url('https://images.unsplash.com/photo-1631884242450-2ea97e4e7992?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box-city.active #porto-alegre.photo {
    background: none, url('https://images.unsplash.com/photo-1631884242450-2ea97e4e7992?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#rio-de-janeiro.photo {
    background: linear-gradient(to top, #0c0c0cba, #2b2a2acc), url('https://images.unsplash.com/photo-1483729558449-99ef09a8c325?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box-city.active #rio-de-janeiro.photo {
    background: none, url('https://images.unsplash.com/photo-1483729558449-99ef09a8c325?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.name-city {
    z-index: 1;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 1;
    transition: all 500ms cubic-bezier(.39, .08, .65, .95);
    white-space: nowrap;
}

.box-city.active>.name-city {
    z-index: 1;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 50px;
}

.box-city .photo {
    filter: blur(0px) grayscale(50%);
    transition: filter 500ms cubic-bezier(.39, .08, .65, .95);
    background-color: black;
}

.box-city.active .photo {
    filter: none;
}


/* Vantagens Charlie Section */

.vantagens-charlie-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 800px;
    padding-top: 180px;
}

.box-carrossel {
    position: relative;
    width: 80%;
    margin: auto;
    padding-bottom: 200px;
}

.carrossel-item {
    display: none;
    padding: 0px 120px 0px 120px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation-duration: 1s;
    animation-timing-function: ease;
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.carrossel-item {
    display: block;
    animation-name: fade;
    animation-fill-mode: forwards;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1;
    animation-duration: 1s;
    animation-timing-function: ease;
    transition: background-color 300ms cubic-bezier(.39, .08, .65, .95), color 300ms cubic-bezier(.39, .08, .65, .95);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Ao passar o mouse, adicione uma cor de fundo preta com um pouco de transparência */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* Contêiner de ponto / bala / indicador */
.dot-container {
    text-align: center;
    padding: 10px;
    background: none;
    padding: 20px;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/*Boa Experiência Section*/

.boa-experiencia-section {
    background-color: #F3F3F3;
    margin-top: 100px;
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.number-experiencia {
    font-size: 160px;
    font-family: proxima-nova;
    font-weight: 700;
    padding-bottom: 0;
    margin-block-start: 0;
    margin-block-end: -6%;
}

.text-boa-experiencia {
    padding: 0 90px 0px 90px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;

}

.text-boa-experiencia>h1 {
    width: 100%;
}

#img-boa-experiencia.photo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 900px;
}

/*Benefícios Charlie Section*/

.beneficios-charlie-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-beneficios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 100px 50px;
    position: relative;
    padding-bottom: 50px;
}

.item-beneficios {
    width: 400px;
    height: 500px;
    gap: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.box-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 2px solid #707070;
    border-radius: 100px;
    position: absolute;
    top: -10%;
    transition: transform 150ms cubic-bezier(.66, .01, .58, .99);
}

.box-item:hover {
    border-color: #9B2BB6;
    transform: translateY(-10px);
}

.box-item:hover .icon-beneficios {
    height: 80px;
    fill: #9B2BB6;
}

.icon-beneficios {
    height: 75px;
    fill: #707070;
    transition: fill 150ms cubic-bezier(.66, .01, .58, .99);
    transition: height 150ms cubic-bezier(.66, .01, .58, .99);
}


.item-beneficios>h2 {
    position: absolute;
    top: 25%;
    width: 90%;
}

.item-beneficios>p {
    position: absolute;
    top: 40%;
    width: 90%;
}

/*Como Se Tornar um Cliente Charlie Section*/

.cliente-charlie-section>.title-section {
    padding: 0 0 0 0;
}

.cliente-charlie-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-bottom: 200px;
}

.box-itens-cliente {
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.item-cliente {
    display: flex;
    padding: 15px 50px;
    margin: 10px;
    border: 1px solid #D4D4D4;
    border-radius: 8px;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    transition: transform 200ms cubic-bezier(.66, .01, .58, .99);
    cursor: pointer;
}

.item-cliente:hover {
    border: 1px solid #00CFB4;
    background-color: #00CFB4;
    transform: translateY(-5px);
    color: white;
}

.item-cliente.active {
    background-color: #00CFB4;
    color: white;
}

.item-cliente>p {
    padding-left: 20px;
}

.item-cliente>.check {
    font-size: 25px;
    color: #00CFB4;
    position: absolute;
    top: 18px;
    left: 15px;
}

.item-cliente:hover>.check {
    color: white;
}

.item-cliente.active>.check {
    color: white;
}

.item-cliente:hover>p>a.cta-20-unidades {
    color: white;
}

.item-cliente.active>p>a.cta-20-unidades {
    color: white;
}


@keyframes strike {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes unstrike {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

.strike {
    position: relative;
}

.strike::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 10px;
    width: 100%;
    height: 1px;
    background: white;
    animation-name: strike;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.unstrike::after {
    animation-name: unstrike;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/*CTA Formulário Section*/

.cta-formulario-section {
    display: inline-grid;
    grid-template-columns: repeat(2, 50% [col-start]);
    justify-items: center;
    align-items: center;
    width: 100vw;
    background-color: #F3F3F3;
}

.cta-formulario-section>.title-section {
    padding-left: 300px;
}

.cta-formulario-section>.button-div {
    width: 30%;
    padding-right: 300px;
}

button.btn-formulario {
    background-color: black;
    font-family: proxima-nova;
    color: white;
    padding: 10px 20px;
    width: 300px;
    height: 80px;
    font-size: 25px;
    border: none;
    transition: transform 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

button:hover.btn-formulario {
    border: 2px solid black;
    background-color: #F3F3F3;
    color: black;
    transform: translateY(-5px);
}

button:active.btn-formulario {
    transform: translateY(-2px);
    background-color: #00CFB4;
}

/* FAQ */

.faq-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding-bottom: 100px;
}

.faq-section>.title-section {
    padding: 100px 0 0 0;
    color: white;
}

.container {
    margin: 0 auto;
    padding: 4rem;
    width: 85%;
}

.accordion .accordion-item {
    margin-top: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #E9927B;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: white;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: #E9927B;
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: #E9927B;
    border: 1px solid #E9927B;
}

.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
    font-family: quincy-cf;
    font-weight: 400;
    font-size: 25px;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded='true'] {
    color: #E9927B;
}

.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
}

.accordion button[aria-expanded='true']+.accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    color: white;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    font-weight: 400;
    margin: 2em 0;
}